<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block pageTitle %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notification-bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/containers.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">

    
    {% block cssExtension %}
    {% endblock %}

    {% block initUrls %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/marked.min.js') }}"></script>



</head>
<body>

    
    <!-- Notification Bar -->
    <div id="page-notification-bar" class="page-notification-bar secondary-font"></div>
    
    <div class="main-content-container d-flex align-items-center justify-content-center">

        <div class="main-content">
            <!-- Main Content of this Page  -->
            {% block pageMainContent %}
            {% endblock %}
        </div>

        <div id="content"></div>


    </div>

    <!-- Navigation Bar -->
    <nav class="navbar fixed-top navbar-light buttom-nav-bar primary-font">
        <div class="container-fluid d-flex justify-content-end">
            {% block navBarExtension %}
            {% endblock %}
        </div>
    </nav>
    

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/notificationHandler.js') }}"></script>
    
    
    {% block jsExtension %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/buttonStyler.js') }}"></script>

    
</body>
</html>