{% extends "base.html" %}

{% block pageTitle %}
{{ username }} @Ma1n Sessions
{% endblock %}

{% block initUrls %}
<script>
    const fetch_session_url = "{{ url_for('fetch_session_by_id') }}"
</script>
{% endblock %}

{% block navBarExtension %}
<a class="navbar-brand" href="{{ url_for('home') }}">
    <img src="{{ url_for('static', filename='images/at.png') }}" width="24px" height="24px" alt="History Sessions">
</a>

<a class="navbar-brand navbar-text-container" href="{{ url_for('auth.logout') }}">
  <div class="navbar-text primary-font">
    {{ username }}
  </div>
  <img src="{{ url_for('static', filename='images/decline.png') }}" width="24px" height="24px" alt="Logout">
</a>    
{% endblock %}

{% block pageMainContent %}
<div class="session-list-container align-items-center justify-items-center">
    {% for sess_info in all_session_info %}
    <a href="{{ url_for('fetch_session_by_id') }}?id={{ sess_info.session_id }}"
            class="list-group-item list-group-item-action flex-column align-items-start primary-font session-list-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ sess_info.conv_abst.title | safe }}</h5>
            <small class="text-muted">{{ sess_info.conv_abst.dtime }}</small>
          </div>
          <p class="mb-1" style="max-height: 15vh; overflow-y: scroll;">{{sess_info.conv_abst.abst | safe}}</p>
          <small class="text-muted">{{ sess_info.conv_abst.note | safe }}</small>
        </a>
    {% endfor %}

</div>

  
{% endblock %}
