{% extends "base.html" %}

{% block pageTitle %}
@Ma1n Index
{% endblock %}

{% block cssExtension %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editors.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modals.css') }}">
{% endblock %}


{% block initUrls %}
<script>
    const get_proc_funcs_url = "{{ url_for('get_all_process_functions') }}";
    const submit_session_url = "{{ url_for('submit_all_and_get_session_id') }}"
    const fetch_session_url = "{{ url_for('fetch_session_by_id') }}"
</script>
{% endblock %}

{% block jsExtensionOnStart %}
<script src="{{ url_for('static', filename='js/marked.min.js') }}"></script>
{% endblock %}



{% block pageMainContent %}
<div class="title-logo-container text-center primary-font-variant">
    @Ma1n
</div>

<div id="main-input-editor" class="editor-container primary-font"></div>

<div class="d-flex" role="group" aria-label="input control buttons">
    <button class="btn btn-secondary simple-round-button hover-color-change hover-border-change">
        <img src="{{ url_for('static', filename='images/modeChange.png') }}" alt="Editor Mode Change" style="width: 24px; height: 24px;">
    </button>
    <button class="btn btn-secondary simple-round-button hover-color-change hover-border-change">
        <img src="{{ url_for('static', filename='images/addAttachment.png') }}" alt="Add Attachment" style="width: 36px; height: 36px;">
        <input type="file" multiple/>
    </button>

    <button class="btn btn-secondary simple-round-button hover-color-change hover-border-change">
        <img src="{{ url_for('static', filename='images/addWeblink.png') }}" alt="Add Weblink" style="width: 24px; height: 24px;">
    </button>

    <div id="link-input-modal" class="input-modal-overlay d-flex primary-font" style="display: none;">
        <textarea id="link-input-modal-textbox" class="input-modal-textbox" rows="1"></textarea>
        
        <button class="btn btn-secondary smaller-round-button hover-color-change", style="margin-left: 5px;">
            <img src="{{ url_for('static', filename='images/confirm.png') }}" alt="ConfirmLink" style="width: 24px; height: 24px;">
        </button> 
    </div>    
</div>

<div id="material-cards-container" class="material-cards-container card-deck text-center text-align  primary-font"></div>



<div class="process-button-container d-flex justify-content-center">
        <div class="btn-group" role="group">
            <button type="button" id="main-process-button" class="btn btn-secondary primary-font-variant main-process-button hover-change-main-process"></button>
            <button type="button" id="main-process-dropdown-button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split main-process-dropdown-button hover-change-main-process" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Main Process Dropdown</span>
            </button>
            <div id="main-process-dropdown-menu" class="dropdown-menu"></div>
        </div>
</div>


{% endblock %}

{% block navBarExtension %}
<a class="navbar-brand" href="{{ url_for('get_sessions') }}">
    <img src="{{ url_for('static', filename='images/historySessions.png') }}" width="24px" height="24px" alt="History Sessions">
</a>
{% endblock %}



{% block jsExtensionOnEnd %}
<script src="{{ url_for('static', filename='js/editorHandler.js') }}"></script>
<script src="{{ url_for('static', filename='js/attachmentHandler.js') }}"></script>
<script src="{{ url_for('static', filename='js/weblinkHandler.js') }}"></script>
<script src="{{ url_for('static', filename='js/processButtonHandler.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
    const modeChangeButton = document.querySelector('.btn.btn-secondary.simple-round-button.hover-color-change.hover-border-change img[alt="Editor Mode Change"]');
    modeChangeButton.parentElement.addEventListener('click', changeEditorMode);

    const mainInputEditor = document.querySelector('#main-input-editor');
    mainInputEditor.addEventListener('keydown', (event) => {
        if (event.shiftKey && event.key === 'Enter') {
            event.preventDefault(); // Prevent the default newline behavior
            mainSubmit();
        }
    });

    const addAttachmentButton = document.querySelector('.btn.btn-secondary.simple-round-button.hover-color-change.hover-border-change img[alt="Add Attachment"]');
    addAttachmentButton.parentElement.querySelector('input[type="file"]').addEventListener('change', handleFileUpload);

    const addWeblinkButton = document.querySelector('.btn.btn-secondary.simple-round-button.hover-color-change.hover-border-change img[alt="Add Weblink"]');
    addWeblinkButton.parentElement.addEventListener('click', handleLinkInput);

    const confirmLinkButton = document.querySelector('.btn.btn-secondary.smaller-round-button.hover-color-change img[alt="ConfirmLink"]');
    confirmLinkButton.parentElement.addEventListener('click', handleConfirmLink);

    document.getElementById('link-input-modal-textbox').addEventListener('keydown', function(event) {
        if (event.shiftKey && event.key === 'Enter') {
            event.preventDefault(); // Prevent the default newline behavior
            handleConfirmLink();
        } else if (event.key === 'Escape') {
            handleLinkInput();
        }
    });

    const mainProcessButton = document.querySelector('.main-process-button');
    mainProcessButton.textContent = getSelectedProcessFunction();
    mainProcessButton.addEventListener('click', () => {
        mainSubmit();
    });

});
</script>
{% endblock %}