.primary-font {
    font-family: 'Verdana', sans-serif;
}
  
.secondary-font {
    font-family: 'Verdana', sans-serif, monospace;
}

.primary-font-variant {
    font-family: 'Verdana', sans-serif, monospace;
    letter-spacing: 0.15em;
}



.valid-card-title {
    font-family: 'Verdana', sans-serif;
    font-size: medium;
    font-weight: 600;
}