.primary-font {
    font-family: 'Verdana', sans-serif;
}
  
.secondary-font {
    font-family: 'Verdana', sans-serif, monospace;
}

.primary-font-variant {
    font-family: 'Verdana', sans-serif, monospace;
    letter-spacing: 0.15em;
}

.mass-text-font {
    font-family: 'Verdana', sans-serif;
    font-size: medium;
    border: 1px dashed #ccc;
}

.invalid-card-title {
    font-family: 'Verdana', sans-serif;
    font-size: xx-small;
}

.valid-card-title {
    font-family: 'Verdana', sans-serif;
    font-size: medium;
    font-weight: 600;
}