.input-modal-overlay {
    padding: 8px;
    margin-left: 5px;
    border-radius: 8px;
    max-width: 60%;
}

.input-modal-textbox {
    width: 20vw;
    max-width: 90%;
    min-width: 20vw;
    min-height: 36px;
    height: 32px;
    max-height: 30vh;
    border: 1px solid grey;
    border-radius: 8px;
}

.link-entry-modal-window {
    background-color: #efefef;
    padding: 8px;
    border-radius: 8px;
    border: solid 2px grey;
}